.header {
  padding: 30px 104px 0;
  max-height: 576px;
  background: transparent url("../images/georgia-de-lotz--unsplash.png")
    no-repeat;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 23px 40px 0;
    max-height: 400px;
    background: transparent url("../images/georgia-de-lotz--unsplash.png")
      center no-repeat;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
    max-height: 536px;
    height: 536px;
    max-width: 320px;
    background: transparent url("../images/georgia-de-lotz--unsplash.png")
      center no-repeat;
  }
}
