.header {
  padding: 30px 104px 0;
  max-height: 576px;
  background: transparent url("../images/georgia-de-lotz--unsplash.png")
    no-repeat;
}

@media screen and (min-width: 420px) and (max-width: 768px) {
  .header {
    padding: 23px 40px 0;
  }
}
