.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 30%);
}

.nav__link {
  text-decoration: none;
}

.nav__title {
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 26px;
  cursor: pointer;
}

.nav__title_dark {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 26px;
  cursor: pointer;
}

.nav__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__home {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  border: none;
  background: transparent;
  margin-bottom: 23px;
  cursor: pointer;
}

.nav__home_dark {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  border: none;
  background: transparent;
  margin-bottom: 23px;
  cursor: pointer;
}

.nav__underline {
  width: 70px;
  height: 3px;
  border-bottom: 3px solid var(--main-white, #fff);
  background: transparent;
}

.nav__saved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 44px;
  margin-right: 32px;
}

.nav__saved {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  border: none;
  background: transparent;
  margin-bottom: 23px;
  cursor: pointer;
}

.nav__saved_dark {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  border: none;
  background: transparent;
  margin-bottom: 23px;
  cursor: pointer;
}

.nav__underline_saved {
  width: 178px;
  height: 3px;
  border-bottom: 3px solid #000;
  background: transparent;
}

.nav__profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  width: 176px;
  height: 48px;
  border: 1px solid var(--main-white, #fff);
  border-radius: 100px;
  background: transparent;
  margin-left: 21px;
  margin-bottom: 13px;
  cursor: pointer;
}

.nav__profile_signed-in {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 112px;
  height: 48px;
  border: 1px solid var(--main-white, #fff);
  border-radius: 100px;
  background: transparent;
  margin-left: 21px;
  margin-bottom: 13px;
}

.nav__profile_dark {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 112px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 100px;
  background: transparent;
  margin-left: 21px;
  margin-bottom: 13px;
}

.nav__username {
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.nav__username_dark {
  color: #000;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.nav__logout {
  background: transparent url("../images/logout.png") center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}

.nav__logout_dark {
  background: transparent url("../images/logout-saved.svg") center no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
}
