.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__title {
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  width: 608px;
  height: 128px;
  margin-bottom: 24px;
}

.search__explaination {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  width: 608px;
}

.search__container {
  display: flex;
  width: 608px;
  height: 64px;
}

.search__input {
  position: absolute;
  top: 352px;
  right: 416px;
  color: #000;
  width: 608px;
  height: 64px;
  fill: #fff;
  stroke-width: 1px;
  stroke: var(--simulator-gray-divider, #d1d2d6);
  backdrop-filter: blur(4px);
  border-radius: 100px;
  border: none;
  text-indent: 24px;
  margin-bottom: 80px;
}

.search__button {
  position: relative;
  left: 220px;
  width: 168px;
  height: 66px;
  border-radius: 100px;
  background: #2f71e5;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
  border: none;
  color: var(--main-white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  cursor: pointer;
}

.search__input::placeholder {
  color: #b6bcbf;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}
